/* Table of Contents
  1. General Variables
  2. Body Styling
  3. Header
  4. First Fold

  Meta:
  Use the table of contents to navigate the styles.css file.
  Use the search functionality to find specific styles.
  Use the comments to understand the purpose of each section.
  Use the code to customize the styles to your liking.
  Use lowercase and hyphens for class names.

*/



/* General Variables */
:root {
  /* Background Variables */
  color-scheme:               dark light;
  --background-light:       hsl(0, 0%, 85%);
  --background-dark:        hsl(0, 0%, 7%);
  --background-grid-opacity:  15%;
  --background-grid-color:    color-mix(in oklab, var(--background-light) var(--background-grid-opacity), var(--background-dark) var(--background-grid-opacity));
  --background-grid-size:     3em;
  --background-grid-width:    0.05em;
  --background-grain-speed:   17s;

  --text-light:     hsl(000, 000%, 000%);
  --text-dark:      hsl(000, 000%, 100%);
  --accent-light:   hsl(56, 54%, 40%);
  --accent-dark:    hsl(56, 54%, 75%);
  --card-bg-light:  hsl(000, 000%, 098%);
  --card-bg-dark:   hsl(000, 000%, 012%);
  --border-radius:    10px;
  --font-family:      'Arial', sans-serif;
}
  




/* Body Styling */
body {
  background-color: var(--background-light);
  color:            var(--text-light);
  font-family:      var(--font-family);
  margin:     0;
  padding:    0;
  transition:           background-color 0.3s, color 0.3s;
  background-size:      var(--background-grid-size) var(--background-grid-size);
  background-position:  center top;
  background-image: 
    linear-gradient(00deg, var(--background-grid-color) var(--background-grid-width), transparent var(--background-grid-width)),
    linear-gradient(90deg, var(--background-grid-color) var(--background-grid-width), transparent var(--background-grid-width));
  @media (prefers-color-scheme: dark) {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  @media (prefers-color-scheme: light) {
    /* &::after {
      filter:         invert(1);
      animation:      noise var(--background-grain-speed) steps(10) infinite;
      pointer-events: none;
      background:     url(https://grainy-gradients.vercel.app/noise.svg) repeat;
      content:        '';
      height:         500%;
      left:           -100%;
      position:       fixed;
      top:            -100%;
      width:          500%;
      z-index:        -1;
    } */
  }
}





/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  padding-inline: max(2vw, 40px);
  padding-block: 16px;
  .logo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .profile-image {
      width: 60px;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      @media screen and (max-width: 768px) {
        width: 30px;
        
      }
    }
  }
  .navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    a {
      font-size: 1.24rem;
      text-decoration: none;
      transition: color 0.3s;
      color: dark-light( var(--text-dark), var(--text-light));
      &:hover {
        @media (prefers-color-scheme: dark) {
          color: var(--accent-light)
        }
        @media (prefers-color-scheme: light) {
          color: var(--accent-light)
        }
      }
    }
  }
}






/* First Fold */
.first-fold {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: lighten;
  }

  spline-viewer {
      height: calc(100vh + 80px);
      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
  }
}